@model introDotNetCoreWithMVC.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserRegister</title>
</head>
<body>
    <form action="/Home/UserRegister" method="post">
        <p>
            <input type="text" placeholder="Ad" id="name" name="name" value="" />
        </p>
        <p>
            <input type="text" placeholder="Soyad" id="lastName" name="lastName" value="" />
        </p>
        <p>
            <input type="text" placeholder="Eposta " id="Eposta" name="Email" value="" />
        </p>
        <button type="submit">Ekle</button>
    </form>
</body>
</html>
